.dropdown {
  position: relative;
}

.movie {
  position: absolute;
  border-radius: 4px;
  list-style-type: none;
  background-color: #aaa7f2;
}

.movieItem {
  display: flex;
  justify-content: center;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.movieItem:hover {
  background-color: #ebedf2;
}

@media (min-width: 768px) {
  .movieItem {
    justify-content: end;
    width: 210px;
  }
}
