.link {
  border: none;
  background-color: transparent;
  color: #aaa7f2;
  font-style: italic;
  font-size: 11px;
  cursor: pointer;
}

.link:link {
  color: #ebedf2;
  border-bottom: 1px solid;
}

.link:visited {
  color: #ebedf2;
  border-bottom: 1px solid;
}

.link:focus {
  background-color: #ebedf2;
  color: #2a2b42;
}

.link:hover {
  background-color: #aaa7f2;
  color: #2a2b42;
}

.link:active {
  background-color: #ebedf2;
  color: #aaa7f2;
}

@media (min-width: 768px) {
  .link {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .link {
    font-size: 18px;
  }
}
