.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
  margin-left: 0;
}

.year {
  width: 10%;
  margin: 5px;
}

.titleButton {
  width: 60%;
  margin: 5px;
  color: #2a2b42;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.prof {
  width: 30%;
  margin: 5px;
}
