.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px;
  font-size: 18px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.year {
  margin-bottom: 10px;
}
