.button {
  width: 70px;
  padding: 5px;
  font-size: 14px;
  background-color: #55519c;
  color: #ebedf2;
  border: 1px solid #55519c;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #ebedf2;
  color: #55519c;
}

.icon {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .button {
    width: 100px;
    font-size: 18px;
  }

  .icon {
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .button {
    width: 100px;
    font-size: 20px;
  }
}
