.ratingIcon {
  display: flex;
  align-items: center;
  padding: 10px;
}

.rating {
  margin-left: 10px;
  font-size: 22px;
}

.icon {
  color: white;
}
.exclamation {
  color: rgb(231, 51, 51);
}

.star {
  color: rgb(255, 230, 0);
}
