.button {
  margin-right: 20px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  color: #ebedf2;
  background-color: transparent;
  cursor: pointer;
}

.buttonActive {
  border-bottom: 2px solid #2a2b42;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    border-bottom: 3px solid transparent;
  }

  .buttonActive {
    border-bottom: 3px solid #2a2b42;
  }
}

@media (min-width: 1200px) {
  .button {
    font-size: 22px;
  }
}
