.wrapper {
  margin: 15px 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  height: 750px;
  width: 100%;
  border-radius: 4px;
  animation: card-loading 1.5s linear infinite alternate;
}

@keyframes card-loading {
  0% {
    background-color: hsl(218, 37%, 81%);
  }
  100% {
    background-color: hsl(219, 16%, 60%);
  }
}

.title {
  height: 20px;
  width: 120px;
  margin: 10px;
  border-radius: 4px;
  background-color: #c3cce2;
}

.topSection {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 20px;
    margin-bottom: 0;
  }

  .card {
    flex-direction: row;
    height: 1000px;
  }

  .title {
    height: 26px;
    width: 200px;
    margin: 15px 20px;
  }

  .section {
    margin: 15px 0;
  }
}

@media (min-width: 1200px) {
  .title {
    height: 32px;
    width: 250px;
    margin: 20px;
  }

  .section {
    margin: 20px 0;
  }
}
