.wrapper {
  margin-right: 5px;
}

.biographyTitle {
  margin-bottom: 10px;
}

.biography {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    margin-right: 0;
  }

  .biographyTitle {
    margin: 0 0 15px 0;
  }

  .biography {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .biographyTitle {
    margin-bottom: 15px;
  }

  .biography {
    margin-bottom: 20px;
  }
}
