.wrapper {
  margin: 0 10px 10px;
}

.biographyTitle {
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  background-color: #2a2b42;
}

.biography {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0;
  }

  .biographyTitle {
    padding-bottom: 15px;
  }

  .biography {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .biographyTitle {
    padding-bottom: 20px;
  }

  .biography {
    margin-bottom: 20px;
  }
}
