.card {
  display: flex;
  flex-direction: row;
  margin: 15px 10px 10px;
  border-radius: 5px;
  color: #aaa7f2;
  background-color: #2a2b42;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 5px;
}

.rating {
  display: none;
}

@media (min-width: 768px) {
  .card {
    margin: 20px 15px 10px;
    justify-content: space-between;
  }

  .container {
    padding: 15px 0 15px 15px;
  }

  .rating {
    display: block;
  }
}
