.card {
  display: flex;
  flex-direction: row;
  margin: 15px 10px 10px;
  border-radius: 5px;
  color: #aaa7f2;
  background-color: #2a2b42;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 5px;
}

.title {
  margin-bottom: 5px;
  font-size: 14px;
}

.rating {
  display: none;
}

@media (min-width: 768px) {
  .card {
    margin: 20px 15px 10px;
  }

  .container {
    width: 90%;
    padding: 15px 0 15px 15px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 26px;
  }

  .rating {
    display: block;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 32px;
  }
}
