.wrapper {
  margin: 0;
}

.title {
  color: #ebedf2;
  font-size: 16px;
  margin: 10px 0;
}

.container {
  display: flex;
  overflow: auto;
  gap: 5px;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
    margin: 20px 0 10px;
  }

  .container {
    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 22px;
    margin: 20px 0;
  }

  .container {
    gap: 20px;
  }
}
