.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #6f6bf2;
  background-color: #2a2b42;
  border: 2px solid #aaa7f2;
  border-radius: 10px;
  cursor: pointer;
}

.input:hover {
  background-color: #ebedf2;
}
.input:active {
  background-color: #ebedf2;
  border: 2px solid #2a2b42;
  border-radius: 10px;
}
