.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #663633;
  background-color: #e6bab7;
  border: 2px solid #663633;
  border-radius: 10px;
  cursor: pointer;
}

.input:hover {
  background-color: #b3918f;
}
