.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #2a2b42;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.683);
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: #aaa7f2;
  cursor: pointer;
}

.button {
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
  color: #aaa7f2;
  background-color: #2a2b42;
  border: 2px solid #2a2b42;
  border-radius: 10px;
  cursor: pointer;
}

.icon {
  margin-left: 5px;
}
