.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: #2a2b42;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.683);
}

.name {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  color: #aaa7f2;
  background-color: #2a2b42;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .name {
    font-size: 30px;
    margin: 0;
  }
}
