.list {
  margin-right: 10px;
}

.title {
  height: 14px;
  width: 90px;
  margin-bottom: 5px;
  border-radius: 4px;
  animation: element-loading 1.5s linear infinite alternate;
}

.card {
  display: flex;
  flex-direction: column;
  height: 60px;
  border-radius: 4px;
  animation: element-loading 1.5s linear infinite alternate;
}

@keyframes element-loading {
  0% {
    background-color: hsl(218, 37%, 81%);
  }
  100% {
    background-color: hsl(219, 16%, 60%);
  }
}

.name {
  display: none;
}

.text {
  display: none;
}

.runtime {
  display: none;
}

@media (min-width: 768px) {
  .list {
    margin: 0;
  }

  .title {
    height: 20px;
    width: 130px;
    margin: 0 0 10px;
  }

  .card {
    height: 100%;
    animation: none;
  }

  .name {
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: element-loading 1.5s linear infinite alternate;
  }

  .text {
    display: block;
    height: 30px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: element-loading 1.5s linear infinite alternate;
  }

  .runtime {
    display: block;
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: element-loading 1.5s linear infinite alternate;
  }

  @keyframes element-loading {
    0% {
      background-color: hsl(218, 37%, 81%);
    }
    100% {
      background-color: hsl(219, 16%, 60%);
    }
  }
}

@media (min-width: 1200px) {
  .title {
    height: 22px;
    width: 150px;
    margin: 5px 0 20px 0;
  }

  .name {
    height: 30px;
    margin-bottom: 15px;
  }

  .text {
    height: 26px;
    width: 80%;
    margin-bottom: 15px;
  }

  .runtime {
    height: 18px;
    margin-bottom: 15px;
  }
}
