.header {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #2a2b42;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #aaa7f2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .name {
    font-size: 30px;
  }
}
