.container {
  margin: 10px 0 0 5px;
  border-radius: 4px;
}

.title {
  margin-bottom: 5px;
  color: #ebedf2;
  font-size: 16px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #2a2b42;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .container {
    margin: 0;
    background-color: transparent;
  }

  .title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .list {
    padding: 0;
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
