.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #55519c;
}

.image {
  margin: 10px;
  width: 120px;
  border-radius: 4px;
}

.imageError {
  width: 120px;
  margin: 10px;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  margin: 10px 0;
}

.text {
  margin-bottom: 10px;
}

.button {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .container {
    margin: 20px;
    font-size: 18px;
  }

  .image {
    width: 140px;
  }

  .imageError {
    width: 140px;
  }

  .details {
    margin-left: 10px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .text {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    font-size: 20px;
  }

  .image {
    width: 185px;
  }

  .imageError {
    width: 185px;
  }

  .details {
    margin-left: 20px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .text {
    margin-bottom: 20px;
  }
}
