.header {
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 10px;
}

.title {
  margin-bottom: 5px;
  font-size: 14px;
}

.subtitle {
  margin-bottom: 5px;
}

.description {
  min-width: 140px;
  min-height: 12px;
  max-height: 40px;
  overflow: auto;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 16px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 26px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .description {
    min-height: 16px;
    max-height: 60px;
  }
}

@media (min-width: 1200px) {
  .header {
    font-size: 18px;
  }

  .title {
    font-size: 32px;
  }

  .description {
    min-height: 18px;
    max-height: 80px;
    margin-bottom: 5px;
  }
}
